/*pagina */
/*pagina */
/*pagina */
@font-face {
  font-family: "dracula";
  src: url(font/dracula.TTF) format("truetype");
  font-weight: normal;
  font-style: normal;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}
/*cabeçalho */
/*cabeçalho */
/*cabeçalho */
#header {
  display: flex;
  width: 100%;
  height: 200px;
  overflow: hidden;
}
#backgraund {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 30%;
  object-fit: cover;
  z-index: -1;
}
#titulo {
  margin: 1% auto;
  font-family: "dracula", Arial, Helvetica, sans-serif;
  font-size: 250%;
  color: crimson;
}
#menu {
  margin: 1%;
  padding: 0.2%;
}
/*corpo */
/*corpo */
/*corpo */
#main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
#albuns {
  width: 70%;
  flex-wrap: wrap;
  gap: 30px;
  display: flex;
  justify-content: space-between;
  margin: auto 15% 30px;
}
#table {
  border-collapse: collapse;
  border: 2px solid black;
  text-align: center;
  align-items: center;
  height: 100%;
}
#table th,
td {
  border: 2px solid black;
  padding: 2%;
}
#table th {
  color: crimson;
  font-family: "dracula", Arial, Helvetica, sans-serif;
  font-size: 150%;
  background-color: black;
}
#BlizzardOfOzz {
  display: none;
}
#DiaryOfMadman {
  display: none;
}
#BarkAtTheMoon {
  display: none;
}

#TheUltimateSin {
  display: none;
}

#NoRestForTheWicked {
  display: none;
}

#DiaryOfMadman {
  display: none;
}

#DiaryOfMadman {
  display: none;
}

#DiaryOfMadman {
  display: none;
}

#DiaryOfMadman {
  display: none;
}

#DiaryOfMadman {
  display: none;
}

#DiaryOfMadman {
  display: none;
}
#DiaryOfMadman {
  display: none;
}

#DiaryOfMadman {
  display: none;
}

/*rodaPé*/
/*rodaPé*/
/*rodaPé*/
#footer {
  width: 100%;
  height: 25%;
  overflow: hidden;
  position: sticky;
  top: 100vh;
  text-align: center;
  width: 100%;
}
#textfooter {
  margin: 180px auto;
  font-family: "dracula", Arial, Helvetica, sans-serif;
  font-size: 150%;
  color: crimson;
}
#backgraundfutter {
  position: absolute;
  bottom: -120px;
  left: 0;
  width: 100%;
  height: 110%;
  object-fit: cover;
  z-index: -1;
}
